= form.label :upicko_brief_info, t('listings.form.description.brief_description'), :class => "input"
= render partial: "layouts/info_text", locals: { text: t("listings.form.description.youtube_info") }
= form.text_area(:upicko_brief_info, :maxlength => "5000", :class => "listing_description_textarea")
