= form.label :upicko_season_status, t("listings.form.season_status.label"), :class => "input"
= render partial: "layouts/info_text", locals: { text: t("listings.form.season_status.info") }
= form.text_field(:upicko_season_status, :class => "upicko_season_status", :maxlength => "60")
