= form.label :upicko_opening_hours, t("listings.form.upicko_opening_hours.label"), :class => "input"
= render partial: "layouts/info_text", locals: { text: t("listings.form.upicko_opening_hours.info") }
= form.text_area(:upicko_opening_hours, :class => "upicko_opening_hours", :maxlength => "3000")
