= form.label :upicko_important_notice, t("listings.form.upicko_important_notice.label"), :class => "input"
= render partial: "layouts/info_text", locals: { text: t("listings.form.upicko_important_notice.info") }
= form.text_area(:upicko_important_notice, :class => "upicko_important_notice", :maxlength => "3000")
