= form.label :upicko_unit_fee, t('listings.form.upicko_unit_fee.label'), :class => 'input'
= render partial: 'layouts/info_text', locals: { text: t('listings.form.upicko_unit_fee.info') }
= form.text_area(:upicko_unit_fee, :class => 'upicko_unit_fees', :maxlength => '3000')
