= form.label :upicko_facility_info, t("listings.form.facility_info.label"), :class => "input"
= render partial: "layouts/info_text", locals: { text: t("listings.form.facility_info.info") }
= form.text_area(:upicko_facility_info, :class => "upicko_facility_info", :maxlength => "3000")
