= form.label :upicko_access_fee, t('listings.form.access_fees.label'), :class => "input"
= render partial: "layouts/info_text", locals: { text: t("listings.form.access_fees.info")}
= form.text_field(:upicko_access_fee, :class => "upicko_access_fees", :maxlength => "60")
