= form.label :upicko_season_status, t("listings.form.upicko_season_status.label"), :class => "input"
= form.select(:upicko_season_status, [[t("listings.form.upicko_season_status.in_season_option_label"), 1], [t("listings.form.upicko_season_status.out_of_season_option_label"), 0]], {}, :class => "inline-select")
